ion-content{
    --ion-background-color: linear-gradient(180deg, #93EBFF 0%, rgba(150, 233, 210, 0.994115) 58.85%, rgba(196, 248, 112, 0.99) 100%);
}

ion-textarea {
    margin-left: 3vw;
    margin-right: 3vw;
}
