ion-content{
    --ion-background-color: linear-gradient(180deg, #70E5FF 0%, rgba(224, 231, 196, 0.994687) 53.12%, rgba(249, 170, 17, 0.99) 100%);
}

ion-textarea {
    margin-left: 3vw;
    margin-right: 3vw;
}
