ion-content{
    --ion-background-color: linear-gradient(180deg, #FFBB38 0%, rgba(255, 189, 61, 0.992188) 0.01%, rgba(255, 132, 105, 0.730439) 98.44%);
}

ion-textarea {
    margin-left: 3vw;
    margin-right: 3vw;
}

.banner {
    font-family: 'Unbounded', cursive;
}

