<!-- <div class="background">
  <div class="cloud">
    <p>res1</p>
  </div>

  <div class="cloud right">
    <p>res 2</p>
  </div>

  <div class="cloud">
    <p>res 3</p>
  </div>

  <div class="cloud right">
    <p>rse4</p>
  </div>
</div> -->
<ion-grid class="background">
  <ion-row>
    <ion-col size="7" class="cloud">
      <p>{{response[0]}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col offset="6" size="6" class="cloud">
      <p>{{response[1]}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5"class="cloud">
      <p>{{response[2]}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col offset="4" class="cloud">
      <p>{{response[3]}}</p>
    </ion-col>
  </ion-row>
</ion-grid>

