<ion-content *ngIf="!showResponses">
  <div class="banner">
    <img src="../../../assets/future.jpeg">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>I think I'll feel...</ion-card-title>
    </ion-card-header>
    <ion-range [ticks]="true" [snaps]="true" [min]="0" [max]="5" [(ngModel)]="rating">
      <ion-icon slot="start" name="sad-outline"></ion-icon>
      <ion-icon slot="end" name="happy-outline"></ion-icon>
    </ion-range>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Where do you see yourself in 5 years?</ion-card-title>
      <ion-card-subtitle>Enter your response below</ion-card-subtitle>
    </ion-card-header>
    <ion-textarea [(ngModel)]="text"></ion-textarea>
  </ion-card>
  <ion-row class="ion-justify-content-center">
    <ion-button (click)="toggleResponses()">Submit</ion-button>
  </ion-row>
</ion-content>
<ion-content *ngIf="showResponses">
  <app-response [response]="['In a long term relationship and about to get married', 'Working at tech company', 'Being more independent', 'Live love laugh']"></app-response>
</ion-content>
