.input-box {
    border-color: black;
    border-width: medium;
}

.circle {
    height: 25vh;
    width: 25vw;
    background-color: white;
    border-radius: 50%;
}

ion-textarea {
    margin-left: 3vw;
    margin-right: 3vw;
}

ion-range {

}

