.input-box {
    border-color: black;
    border-width: medium;
}

.circle {
    height: 25vh;
    width: 25vw;
    background-color: white;
    border-radius: 50%;
}

ion-textarea {
    margin-left: 3vw;
    margin-right: 3vw;
}

ion-range {
    --bar-background: white;
    --bar-background-active: white;
    // --bar-height: 8px;
    // --bar-border-radius: 8px;
    --knob-background: #89D7F0;
    // --knob-size: 40px;
    // --pin-background: #ffafcc;
    // --pin-color: #fff;
  }

